.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:blue;
}

.image {
    padding-bottom: 25px;
    width: 400px;
}

.display {
    width: 250px;
    height: 400px;
}

.busy {
    background: red;
}

.free {
    background: green;
}